# Modify tensorflow version to accommodate both deepface and retinaface
tensorflow==2.5.0  # This is required by retinaface

# Deepface does not need an exact TensorFlow version
deepface==0.0.85

# Other dependencies you may have (adjust versions accordingly)
retinaface==1.1.1
